body {
    background-color: #FAFAFA;
    font-family: 'Lucida Grande',Arial,sans-serif;
    margin: 0;
    padding-top: 65px;
}
header {
    color: #DDDDDD;
    display: block;
    font-size: 16px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    background-color: #FAFAFA;
    width: 100%;
}
header > div {
    margin: auto;
    position: relative;
    width: 80%;
}
header #status {
    color: #707D8F;
    padding: 20px;
    float: left;
}
header > div > a {
    float: right;
    padding: 2px;
    font-size: 18px;
}
header > div > a:hover {
    color: #EE8167;
}
body > footer {
    color: #EAEAEA;
    font-size: 14px;
    margin: 20px auto;
    text-align: right;
    display: none;
    width: 80%;
}
body > footer p {
    margin: 10px 0;
}
body > footer p:first-child {
    color: #DDDDDD;
    font-size: 18px;
}
body > footer p:first-child:hover, body > footer p:first-child:hover a {
    color: #C9C9C9;
}
body > footer p:first-child:hover a:hover, body > footer p:first-child:hover a a:hover {
    border-bottom: 1px solid #F9EEEC;
    color: #EE8167;
}
body > footer a {
    border-bottom: 1px solid #EEEEEE;
    color: #DDDDDD;
    cursor: pointer;
}
body > footer a:hover {
    border-bottom: 1px solid #F9EEEC;
    color: #EE8167;
}
h1 {
    color: #3D4A5C;
    font-size: 42px;
}
ul.notes {
    border-top: 1px solid #DDDDDD;
    list-style-type: none;
    padding: 10px;
    margin: auto;
    width: 80%;
}
li.notes {
    display: inline-block;
    border-right: 1px solid #DDDDDD;
    margin: 5px 5px 0 0;
    padding: 0 10px 0 0;
}
a {
    color: #CCCCCC;
    text-decoration: none;
    cursor: pointer;
}
input[type="text"], input[type="password"] {
    outline: medium none;
}
input[type="checkbox"] {
    font-size: 22px;
}
#page {
    width: 100%;
}
#page label, #page label a, #page label a:visited {
    color: #3D4A5C;
    display: inline-block;
    line-height: 48px;
    position: relative;
    text-decoration: none;
}
#page label {
    max-width: 670px;
}
#page pre {
  background: none repeat scroll 0 0 #FFFFCC;
  border: 1px solid #FFEE88;
  overflow: auto;  
}
#page code {
  color: #884411;
  font-size: 1.2em;
  line-height: 1.4em;
}
#page li.flashing label:after {
    visibility: hidden;
}
#page #list {
    margin: auto;
    padding: 0;
    width: 80%;
}
#page #list > div {
    background-color: #FAFAFA;
    border-color: transparent transparent #DDDDDD;
    border-style: solid solid dotted;
    border-width: 0 1px 1px;
    cursor: default;
    height: auto;
    overflow: hidden;
    padding: 0;
}
#page #list > div a {
    color: #707D8F;
    cursor: pointer;
}
#page #list > div a:hover {
    text-decoration: underline;
}
#page #list > div {
    position: relative;
    min-height: 40px;
}
#page #list > div .editable {
    width: 100%;
    min-height: 20px;
}
#page #list > div .actions {
    font-size: 14px;
    visibility: hidden;
    position: absolute;
    right: 0;
}
#page #list > div .actions1 {
    top: 0;
}
#page #list > div .actions2 {
    bottom: 0;
    margin-bottom: 2px;
}
#page #list > div .actions a {
    border: 0 none !important;
    color: #CCCCCC;
    font-family: Arial,sans-serif;
    padding: 2px;
    text-decoration: none;
}
#page #list > div:hover .actions a {
    border: 0 none !important;
    visibility: visible;
}
#page #list > div .actions a:hover {
    color: #EE8167;
}
#page #list > div:last-child {
    border-bottom: 0 none;
}
#page #list > div > div.add {
    height: 8px;
}
#page #list > div > div.add:hover {
    background-color: #FFFFFF;
}
input#new, input[type="password"], input.token-input {
    border: 0;
    padding: 0;
    margin: 3px;
}
input#new.disabled, input.disabled[type="password"], input.token-input.disabled {
    background-color: #F0F0F0;
    color: #CCCCCC;
}
#new-wrapper {
    display: inline-block;
    border: 1px solid #DDDDDD;
    padding: 0;
    width: 250px;
    background-color: white;
    box-shadow: 0 1px 2px #DDDDDD;
}
#new-wrapper.focused {
    box-shadow: 0 2px 8px #DDDDDD;
}
#new-wrapper input#new {
    cursor: text;
    width: 243px;
    font-size: 16px;
    font-family: 'Lucida Grande',Arial,sans-serif;
}
#new-wrapper .token {
    background-color: #FEFEF1;
    border-color: #F4F4D7;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px #EEEEEE;
    color: #C6C6A9;
    display: inline-block;
    font-size: 24px;
    line-height: 1em;
    margin: -6px 0 -6px -2px;
    outline: medium none;
    padding: 2px 4px 2px 1px;
}
#password-protect div.password {
    background-color: transparent;
    border-radius: 8px 8px 8px 8px;
}
#password-protect div.password input {
    box-shadow: 0 3px 30px #DDDDDD;
}
div.password {
    height: 116px;
    left: 50%;
    margin-left: -360px;
    margin-top: -118px;
    padding: 60px;
    position: absolute;
    top: 40%;
    width: 600px;
}
div.password label {
    color: #52637A;
    display: block;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 30px;
}
div.password input {
    border-radius: 8px 8px 8px 8px;
    width: 570px;
}
div.password input.error {
    border-color: #D6705C;
}
div.password .close {
    border-bottom: 1px solid #EEEEEE;
    color: #CCCCCC;
    float: right;
    font-size: 18px;
    margin-right: 16px;
    margin-top: 30px;
    text-shadow: 0 0 10px white;
}
div.password .close:hover {
    color: #EE8167;
}
#lock {
    text-align: right;
    float: right;
}
#lock div {
    background: url("../images/lock-24.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 24px;
    margin-left: 5px;
    width: 24px;
}
#lock.locked {
    display: block;
}
#lock.locked:hover .locked-hint {
    display: inline;
}
#lock.locked:hover .unlocked-hint {
    display: none;
}
#lock.locked span {
    color: #EE8167;
}
#lock.locked div {
    background: url("../images/lock-24.png") no-repeat scroll -24px 0 transparent;
}
#lock:hover .locked-hint {
    display: none;
}
#lock:hover .unlocked-hint {
    display: inline;
}
#lock:hover div {
    background: url("../images/lock-24.png") no-repeat scroll -24px 0 transparent;
}
#lock span {
    color: #EE8167;
    display: none;
    font-size: 14px;
    vertical-align: 1px;
}
.overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
#password-authenticate.overlay {
    background-color: #FAFAFA;
}
#password-protect.overlay {
    background-color: rgba(255, 255, 255, 0.9);
}
#not-found {
    padding: 60px 0;
}
#not-found h1 {
    font-size: 48px;
    text-align: center;
}
#not-found p {
    margin-top: 30px;
    text-align: center;
}
#not-found a {
    border-bottom: 1px solid #EEEEEE;
    color: #AAAAAA;
    font-family: Arial,sans-serif;
}
#not-found a:hover {
    border-bottom: 1px solid #F9EEEC;
    color: #CC7766;
}
#about {
    float: left;
    font-size: 14px;
    margin-top: 0;
    text-align: right;
}
#about p {
    color: #AAAAAA;
    font-size: 14px !important;
    line-height: 22px;
}
#about p a {
    border-bottom: 1px dashed #DDDDDD;
    color: #BEBEBE;
    font-family: Arial,sans-serif;
}
#about p a:hover {
    border-bottom: 1px solid #F9EEEC;
    color: #CC7766;
}
.loading {
    background: url('../images/loading.gif') right center no-repeat;
    //background: url('../images/ui-anim_basic_16x16.gif') right center no-repeat;
}
