* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #FAFAFA;
    font-family: 'Arial',sans-serif;
    font-size: 24px;
    margin: 0 auto;
    padding: 60px 30px;
    width: 800px;
}
body > header {
    color: #DDDDDD;
    display: block;
    font-size: 16px;
    margin: 0;
    position: absolute;
    top: 22px;
    width: 800px;
}
body > footer {
    color: #EAEAEA;
    font-size: 14px;
    margin: 30px 0;
    text-align: right;
    display: none;
}
body > footer p {
    margin: 10px 0;
}
body > footer p:first-child {
    color: #DDDDDD;
    font-size: 18px;
}
body > footer p:first-child:hover, body > footer p:first-child:hover a {
    color: #C9C9C9;
}
body > footer p:first-child:hover a:hover, body > footer p:first-child:hover a a:hover {
    border-bottom: 1px solid #F9EEEC;
    color: #EE8167;
}
body > footer a {
    border-bottom: 1px solid #EEEEEE;
    color: #DDDDDD;
    cursor: pointer;
}
body > footer a:hover {
    border-bottom: 1px solid #F9EEEC;
    color: #EE8167;
}
h1 {
    color: #3D4A5C;
    font-size: 42px;
}
ul, li {
    list-style-type: none;
    padding: 0;
}
ul {
}
a {
    color: #CCCCCC;
    text-decoration: none;
}
input[type="text"], input[type="password"] {
    outline: medium none;
}
input[type="checkbox"] {
    font-size: 22px;
}
#page {
    width: 800px;
}
#page #title {
    background-color: #FAFAFA;
    border: 1px dashed transparent;
    color: #3D4A5C;
    font-family: 'Arial',sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: -1px;
    padding: 0.25em 1px;
    width: 796px;
}
#page #title:focus {
    border-color: #DDDDDD;
    outline: medium none;
}
#page #title:focus {
    background-color: white;
}
#page ul#list.unselectable li {
    -moz-user-select: none;
    cursor: default;
}
#page label, #page label a, #page label a:visited {
    color: #3D4A5C;
    display: inline-block;
    line-height: 48px;
    position: relative;
    text-decoration: none;
}
#page label {
    max-width: 670px;
}
#page li.flashing label:after {
    visibility: hidden;
}
#page #list {
    margin: 30px 0;
    padding: 0;
    width: 800px;
}
#page #list > li {
    background-color: #FAFAFA;
    border-color: transparent transparent #DDDDDD;
    border-style: solid solid dotted;
    border-width: 0 1px 1px;
    cursor: default;
    font-family: Georgia,'Times New Roman',serif;
    font-size: 22px;
    height: auto;
    overflow: hidden;
    padding: 0 5px;
    width: 788px;
}
#page #list > li a {
    color: #707D8F;
    cursor: pointer;
}
#page #list > li a:hover {
    text-decoration: underline;
}
#page #list > li:hover {
    background-color: #FEFEF1;
}
#page #list > li:hover .actions {
    visibility: visible;
}
#page #list > li:hover label:after {
    background-color: #FEFEF1;
    box-shadow: -15px 0 30px #FEFEF1;
}
#page #list > li.editing {
    background-color: white;
    border: 1px dashed #DDDDDD !important;
    margin-top: -1px;
}
#page #list > li.editing .tags {
    display: none;
}
#page #list > li.editing .actions {
    visibility: visible;
}
#page #list > li.editing [data-action="edit"] {
    color: #EE8167;
}
#page #list > li.editing:last-child {
    margin-bottom: -1px;
}
#page #list > li input[type="text"] {
    background-color: transparent;
    border: 0 none;
    font-family: Georgia,'Times New Roman',serif;
    font-size: 22px;
    height: 48px;
    margin-left: -1px;
    width: 650px;
}
#page #list > li input[type="checkbox"] {
    display: inline;
    height: 48px;
    line-height: 48px;
    margin-right: 25px;
    vertical-align: middle;
}
#page #list > li:hover .tags li a {
    background-color: #FAFAFA;
    color: #BCBC9A;
}
#page #list > li.editing .token {
    color: #A7A77B !important;
}
#page #list > li .tags {
    display: inline;
    float: right;
    height: 48px;
    line-height: 48px;
    margin: 0 15px;
}
#page #list > li .tags li {
    display: inline-block;
    margin-left: 5px;
}
#page #list > li .tags li a {
    background-color: #FEFEF1;
    border-color: #F4F4D7;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px #EEEEEE;
    color: #C6C6A9;
    display: inline-block;
    line-height: 1em;
    margin: auto 0;
    padding: 4px 8px;
}
#page #list > li .tags li a:hover {
    border-color: #EDEDC0;
    color: #B1B18B;
    text-decoration: none;
}
#page #list > li .tags li.active a {
    border-color: #EDEDC0;
    color: #B1B18B;
}
#page #list > li .tags li:first-child {
    margin-left: 0;
}
#page #list > li .actions {
    float: right;
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    visibility: hidden;
}
#page #list > li .actions a {
    border: 0 none !important;
    color: #CCCCCC;
    font-family: Arial,sans-serif;
    padding: 8px;
    text-decoration: none;
}
#page #list > li .actions a:hover {
    border: 0 none !important;
}
#page #list > li .actions a:last-child {
    margin-right: 10px;
}
#page #list > li .actions a:hover {
    color: #EE8167;
}
#page #list > li:last-child {
    border-bottom: 0 none;
}
#page .completed a, #page .completed label a {
    color: #CCCCCC !important;
    text-decoration: line-through;
}
#page .completed .tags li a {
    background-color: #FAFAFA !important;
    border-color: #EEEEEE !important;
    color: #CCCCCC !important;
}
#page .completed .tags li a:hover {
    color: #BBBBBB !important;
}
input#new, input[type="password"], input.token-input {
    border: 1px solid #DDDDDD;
    font-size: 24px;
    padding: 8px;
}
input#new.disabled, input.disabled[type="password"], input.token-input.disabled {
    background-color: #F0F0F0;
    color: #CCCCCC;
}
input#new, span.string-input, input.token {
    font-family: 'Lucida Grande',Arial,sans-serif;
}
ul.tokens {
    margin: 0;
}
ul.tokens, ul.tokens li {
    display: inline-block;
    margin: 0;
}
span.string-input {
    font-size: 24px;
    margin-left: 1px;
}
ul.tokens li:last-child .token-input {
    padding: 0 5px !important;
}
input.token-input {
    border: 0 none;
    display: inline-block;
    margin: 0;
    outline: medium none;
    padding: 0 3px 0 1px;
}
input.token-input.empty {
    margin: 0;
    width: 5px;
}
#list .token {
    background-color: #FEFEF1;
    border-color: #F4F4D7;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px #EEEEEE;
    color: #C6C6A9;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    line-height: 1em;
    margin: auto 0 auto -2px;
    outline: medium none;
    padding: 2px 4px 2px 1px;
}
#list .token:hover {
    border-color: #EDEDC0;
    color: #B1B18B;
    text-decoration: none;
}
#list .token-input {
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0 3px 0 1px;
}
#new-wrapper {
    background-color: white;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 2px #DDDDDD;
    cursor: text;
    font-size: 24px;
    padding: 8px;
    width: 782px;
}
#new-wrapper.focused {
    box-shadow: 0 2px 8px #DDDDDD;
}
#new-wrapper input#new {
    border: 0 none !important;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 766px;
}
#new-wrapper .token {
    background-color: #FEFEF1;
    border-color: #F4F4D7;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px #EEEEEE;
    color: #C6C6A9;
    display: inline-block;
    font-size: 24px;
    line-height: 1em;
    margin: -6px 0 -6px -2px;
    outline: medium none;
    padding: 2px 4px 2px 1px;
}
#new-wrapper .token:hover {
    border-color: #EDEDC0;
    color: #B1B18B;
    text-decoration: none;
}
.dragging {
    background-color: rgba(255, 255, 229, 0.7) !important;
    border: 1px dashed #DDDDDD !important;
    box-shadow: 0 2px 16px #DDDDDD;
    position: absolute;
    width: 800px;
    z-index: 10;
}
.dragging div {
    cursor: move;
}
.dragging .actions {
    visibility: hidden;
}
.ghost {
    border-bottom: 1px dashed #DDDDDD !important;
    border-top: 1px dashed #DDDDDD !important;
    margin-top: -1px;
}
.ghost label {
    color: #DDDDDD !important;
}
.ghost .tags {
    color: #DDDDDD !important;
}
.ghost .tags li a {
    background-color: #FEFEFE !important;
    border-color: #EEEEEE !important;
}
#password-protect div.password {
    background-color: transparent;
    border-radius: 8px 8px 8px 8px;
}
#password-protect div.password input {
    box-shadow: 0 3px 30px #DDDDDD;
}
div.password {
    height: 116px;
    left: 50%;
    margin-left: -360px;
    margin-top: -118px;
    padding: 60px;
    position: absolute;
    top: 40%;
    width: 600px;
}
div.password label {
    color: #52637A;
    display: block;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 30px;
}
div.password input {
    border-radius: 8px 8px 8px 8px;
    width: 570px;
}
div.password input.error {
    border-color: #D6705C;
}
div.password .close {
    border-bottom: 1px solid #EEEEEE;
    color: #CCCCCC;
    float: right;
    font-size: 18px;
    margin-right: 16px;
    margin-top: 30px;
    text-shadow: 0 0 10px white;
}
div.password .close:hover {
    color: #EE8167;
}
#lock {
    float: right;
    text-align: right;
}
#lock div {
    background: url("lock-24.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 24px;
    margin-left: 5px;
    width: 24px;
}
#lock.locked {
    display: block;
}
#lock.locked:hover .locked-hint {
    display: inline;
}
#lock.locked:hover .unlocked-hint {
    display: none;
}
#lock.locked span {
    color: #EE8167;
}
#lock.locked div {
    background: url("lock-24.png") no-repeat scroll -24px 0 transparent;
}
#lock:hover .locked-hint {
    display: none;
}
#lock:hover .unlocked-hint {
    display: inline;
}
#lock:hover div {
    background: url("lock-24.png") no-repeat scroll -24px 0 transparent;
}
#lock span {
    color: #EE8167;
    display: none;
    font-size: 14px;
    vertical-align: 1px;
}
.overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
#password-authenticate.overlay {
    background-color: #FAFAFA;
}
#password-protect.overlay {
    background-color: rgba(255, 255, 255, 0.9);
}
#not-found {
    padding: 60px 0;
}
#not-found h1 {
    font-size: 48px;
    text-align: center;
}
#not-found p {
    margin-top: 30px;
    text-align: center;
}
#not-found a {
    border-bottom: 1px solid #EEEEEE;
    color: #AAAAAA;
    font-family: Arial,sans-serif;
}
#not-found a:hover {
    border-bottom: 1px solid #F9EEEC;
    color: #CC7766;
}
#about {
    float: left;
    font-size: 14px;
    margin-top: 0;
    text-align: right;
}
#about p {
    color: #AAAAAA;
    font-size: 14px !important;
    line-height: 22px;
}
#about p a {
    border-bottom: 1px dashed #DDDDDD;
    color: #BEBEBE;
    font-family: Arial,sans-serif;
}
#about p a:hover {
    border-bottom: 1px solid #F9EEEC;
    color: #CC7766;
}
